{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  },
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }],
    "lodash"
  ]
}
