$editorCalcHeight: calc(100vh - 270px);
.post-editor-wrapper {
  min-height: $editorCalcHeight;
  .post-title {
    overflow: hidden;
    .left-box {
      float: left;
      width: 100%;
    }
    .right-box {
      position: absolute;
      right: 40px;
    }
    .title {
      width: 100%;
    }
  }
  .post-content {
    background: #f5f5f5;
    .editor {
      min-height: $editorCalcHeight;
      border-right: 1px solid #ddd;
      padding: 25px;
    }
    .preview {
      float: left;
      width: 50%;
      overflow: auto;
      padding: 25px;
      height: $editorCalcHeight;
    }
  }
}

.selected-tags {
  display: block;
  padding: 0 0 10px 0;
  .ant-tag {
    margin-top: 5px;
    background: none;
  }
}