$editorCalcHeight: calc(100vh - 270px);
.post-editor-wrapper{
  max-height: $editorCalcHeight;
}
.editor {
  position: relative;
  .publish-button {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    border-radius: 0;
  }
}
.selected-tags {
  display: block;
  padding: 0 0 10px 0;
  .ant-tag {
    margin-top: 5px;
    background: none;
  }
}
// reset tui-editor css
.te-md-container .CodeMirror,
.tui-editor-contents {
  font-size: 14px !important;
}
