.table-filter-section {
  margin-bottom: 14px;
  overflow: hidden;
  .search {
    float: right;
  }
}

.ant-pagination {
  &.custom-table-pagination {
    text-align: center;
    margin-top: 25px;
  }
}